<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="theme/header::header(null)"></div>

<body>
<div id="fh5co-page">

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="/theme/images/img_bg_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<h2 class="fh5co-heading">About me</h2>
						<p>为天地立心，为生民立命，为往圣继绝学，为万世开太平——宋.张载</p>
						<p>我所相信的改变世界唯有两种方式，一是靠制度，二是靠技术。参与不了制度革新，就选择了技术。</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<div th:replace="theme/footer :: footer"></div>
</body>
</html>


